:root {
    --red:hsla(0, 100%, 48%, 0.7);
    --orange:hsla(30, 100%, 48%, 0.8);
    --yellow:hsla(58, 100%, 69%, 0.7);
    --unitbg:hsla(0, 0%, 100%, 0.6);
    --border:hsla(0, 0%, 27%, 0.8);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100vw; height: 100vh;
    background: url('../img/kudamm.jpg') no-repeat;
    background-size: cover;
    /* filter: blur(2px); */
}

.clock {
    width: 100vw;
}

.row {
    display: flex;
}

.row > div {
    border: 1px solid var(--border);
}

.unit {
    display: inline-block;
    width: 100%;
    height: 20vh;
    background: var(--unitbg);
}

.second-row .unit.on {
    background-color: var(--yellow); 
}

.hour-top .unit.on, .hour-bottom .unit.on {
    background-color: var(--red); 
}

.minute-top .unit.on, .minute-bottom .unit.on {
    background-color: var(--orange);
}

.minute-top .unit:nth-child(3).on,
.minute-top .unit:nth-child(6).on,
.minute-top .unit:nth-child(9).on {
    background-color: var(--red);
}