:root {
    --timeRed:      hsla(0, 100%, 48%, 0.5);
    --timeOrange:   hsla(30, 100%, 48%, 0.6);
    --grey:         hsl(0, 0%, 25%);
    --black:        hsl(0, 0%, 0%);
    --red:          hsl(0, 100%, 50%);
    --yellow:       hsl(48, 100%, 50%);
    --gap:          0.5vw;
    --bounce:       all 800ms cubic-bezier(1, -0.51, 0, 3.36);
}

@font-face {
    font-family: 'Typed';
    src: url('../fonts/SpecialElite.woff2');
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 93vw 6vw;
    padding: .5vw;
    background: left top / cover url('../img/reunification.jpg') no-repeat;  
}

@media screen and (orientation: landscape) {
    body {
        background-image: url('../img/memorial.jpg');
    }
}  

.clock {
    display: grid;
    gap: var(--gap);
    padding-right: var(--gap);
    overflow: hidden;
}

.hx5,
.hx1,
.mx1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.mx5 {
    display: grid;
    grid-template-columns: repeat(11, auto);
}

.row {
    gap: var(--gap);
}

.unit {
    border-radius: .3vw;
    transition: var(--bounce);
    /* filter: drop-shadow(0vw 0.3vw 0.6vw var(--grey)); */
}

.on {
    backdrop-filter: blur(4px);
    transition: var(--bounce);
}

.hx5 .unit.on,
.hx1 .unit.on {
    background-color: var(--timeRed); 
}

.mx5 .unit.on,
.mx1 .unit.on {
    background-color: var(--timeOrange);
}

.mx5 .unit:nth-child(3).on,
.mx5 .unit:nth-child(6).on,
.mx5 .unit:nth-child(9).on {
    background-color: var(--timeRed);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 1vw);
    padding: var(--gap);
    border-top-right-radius: 4px;
    background: hsla(0, 0%, 100%, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

h1 {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding-top: 4px;
    font-family: Typed, Monospace;
    font-size: clamp(18px, 3vw, 4vw);
    writing-mode: vertical-lr;
    color: var(--grey);
}

.flag {
    position: absolute;
    bottom: 1%;
    width: 80%;
    height: 5%;
    max-height: 40px;
    background: linear-gradient(var(--black) 0%, var(--black) 33%, var(--red) 33%, var(--red) 66%, var(--yellow) 66%, var(--yellow) 100%);

}

h1 > span {
	font-size: 80%;
	vertical-align: bottom;
}

@media all and (min-width: 10em) and (max-width: 40em) {
    h1 {
        padding: 2px 2px 0 0;
    }
}