:root {
    --red:      hsla(0, 100%, 48%, 0.5);
    --orange:   hsla(30, 100%, 48%, 0.6);
    --black:    hsl(0, 0%, 25%);
    --gap:      4px;
    --bounce:   all 800ms cubic-bezier(1, -0.51, 0, 3.36);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: left top / cover url('../img/reunification.jpg') no-repeat, black;
}

.clock {
    display: grid;
    gap: var(--gap);
    height: 100vh;
    padding: var(--gap);
    overflow: hidden;
}

.hx5,
.hx1,
.mx1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.mx5 {
    display: grid;
    grid-template-columns: repeat(11, auto);
}

.row {
    gap: var(--gap);
}

.unit {
    border-radius: .3vw;
    transition: var(--bounce);
    filter: drop-shadow(0vw 0.3vw 0.6vw var(--black));
}

.on {
    backdrop-filter: blur(4px);
    transition: var(--bounce);
}

.hx5 .unit.on,
.hx1 .unit.on {
    background-color: var(--red); 
}

.mx5 .unit.on,
.mx1 .unit.on {
    background-color: var(--orange);
}

.mx5 .unit:nth-child(3).on,
.mx5 .unit:nth-child(6).on,
.mx5 .unit:nth-child(9).on {
    background-color: var(--red);
}